@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

*::first-letter {
  text-transform: uppercase;
}

body {
  font-size: 100%;
  color: #000000;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background-color: #000000;
  background-size: cover;
  background-position: top center;
}

a {
  text-decoration: none;
}

h1, h2, h3, p {
  font-family: "Inter", sans-serif;
  color: #fff;
}

h1, h2 {
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 52px;
}
h1 span, h2 span {
  display: block;
}

p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

ul {
  list-style: none;
  padding: 0;
}

nav {
  padding: 5px 0;
  width: 100%;
  z-index: 999;
}
nav .navigation-bar {
  display: grid;
  grid-template-columns: 1fr max-content minmax(150px, auto);
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
  position: relative;
  grid-gap: 1rem;
}
nav .navigation-bar::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
nav .navigation-bar .navLogo img {
  max-width: 100%;
}
nav .navigation-bar ul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  flex: 1;
}
nav .navigation-bar ul li {
  text-transform: capitalize;
  font-weight: 300;
}
nav .navigation-bar ul li a {
  color: #ffffff;
}
nav .navigation-bar ul li a.active {
  color: #fff;
}
nav .navigation-bar ul li:hover a, nav .navigation-bar ul li.active a {
  color: red;
}
nav .navigation-bar .userLoging li {
  font-weight: 700;
}
nav .navigation-bar .divider {
  width: 1px;
  height: 60%;
  background-color: #fff;
}

.headerBannerContainer {
  padding-top: 175px;
  background: url(../assets/images/header-bg.jpg) no-repeat;
  background-size: cover;
  background-position: top -208px right;
  min-height: 400px;
  position: relative;
}
@media only screen and (min-width: 991px) and (max-width: 1523px) {
  .headerBannerContainer {
    background-position-y: -180px;
  }
}
.headerBannerContainer::after {
  content: "";
  position: absolute;
  mix-blend-mode: overlay;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: lightgray 0% 0%/60.9090924263px 60.9090924263px;
}
.headerBannerContainer .headerBannerContent {
  max-width: 838px;
}
.headerBannerContainer .bannerImg {
  display: block;
  margin-top: 100px;
}
.headerBannerContainer .bannerImg img {
  width: 100%;
  object-fit: cover;
}

main {
  background: url("../assets/images/content-bg.jpg") no-repeat;
  background-position: right top;
  background-size: contain;
  background-position: top -11px center;
  background-size: cover;
}

.automatedContent {
  margin-top: 360px;
}

.trackGlobalContainer, .trackGlobalContainer2 {
  background-position: right top;
  background-size: contain;
  margin-top: 50px;
}
.trackGlobalContainer [class*=col-] > object, .trackGlobalContainer2 [class*=col-] > object {
  visibility: hidden;
}
@media only screen and (min-width: 991px) and (max-width: 1523px) {
  .trackGlobalContainer, .trackGlobalContainer2 {
    margin-top: 0;
  }
}

.trackGlobalContainer2 {
  background-position: left top;
  background-size: contain;
  padding-bottom: 30px;
  -webkit-padding-after: 190px;
}

.thousand-thousand {
  margin-top: 152px;
}
@media only screen and (min-width: 992px) and (max-width: 2550px) {
  .thousand-thousand .automatedContent {
    width: 65%;
  }
}

.bgSetPosRight {
  background-position: right top !important;
}

.buttonContainer {
  background: url(../assets/images/button.svg) no-repeat top left;
  min-height: 68.086px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-top: 52px;
}
.buttonContainer .btnStyle {
  color: #FFF;
  font-family: Inter;
  font-size: 20.91px;
  font-style: normal;
  font-weight: 400;
  min-width: 198px;
  text-align: center;
  padding: 1rem 0;
}
.buttonContainer .btnStyle span {
  margin-right: 16px;
}

.loginBody {
  background: url("../assets/images/authenticate.jpg") no-repeat;
  background-size: cover;
  background-position: top center;
}
.loginContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 23px;
  padding: 36px 90px;
  width: 615px;
  backdrop-filter: blur(6px);
  overflow: hidden;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .loginContainer {
    padding: 25px 90px;
  }
}
.loginContainer .loginGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  text-align: center;
  grid-gap: 1rem;
}
@media only screen and (min-width: 992px) and (max-width: 1523px) {
  .loginContainer .loginGrid {
    grid-gap: 0.1rem;
  }
}
.loginContainer .loginGrid .loginWithGoogle a {
  display: block;
  width: 100%;
  height: 100%;
}
.loginContainer .loginGrid .loginWithGoogle a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.loginContainer .loginHeading h2 {
  color: #FFF;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 992px) and (max-width: 1523px) {
  .loginContainer .loginHeading h2 {
    margin-bottom: 25px;
  }
}
.loginContainer .loginHeading h2 a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.loginContainer .loginForm {
  max-width: 424px;
}
.loginContainer .loginForm form .formFields {
  position: relative;
}
.loginContainer .loginForm form .formFields input {
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid #D9D9D9;
  height: 50px;
  width: 100%;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  padding: 12px 25px;
  margin-bottom: 14px;
}
.loginContainer .loginForm form .formFields input::placeholder {
  color: #FFF;
}
.loginContainer .loginForm form .formFields input:focus {
  outline: none;
}
@media only screen and (min-width: 991px) and (max-width: 1523px) {
  .loginContainer .loginForm form .formFields input {
    height: 40px;
    font-size: 16px;
  }
}
.loginContainer .loginForm form .rememberBox {
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.loginContainer .loginForm form .rememberBox input[type=checkbox] {
  width: 24px;
  height: 23px;
  margin-bottom: 0;
}
.loginContainer .loginForm form .rememberBox label {
  color: #7D7B7B;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-left: 12px;
}
.loginContainer .loginForm form button {
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background: #EB1C2E;
  display: flex;
  flex-flow: row;
  width: 100%;
  border: none;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 40px;
}
@media only screen and (min-width: 992px) and (max-width: 1523px) {
  .loginContainer .loginForm form button {
    margin-top: 20px;
  }
}
.loginContainer .loginForgot {
  margin-top: 35px;
}
@media only screen and (min-width: 992px) and (max-width: 1523px) {
  .loginContainer .loginForgot {
    margin-top: 25px;
  }
}
.loginContainer .loginForgot a {
  color: #7D7B7B;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
  display: table;
  text-align: left;
}
.loginContainer p {
  color: #D9D9D9;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0;
}
.loginContainer::after {
  content: "";
  position: absolute;
  background-color: #bdbdbd;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
}

.formFields > i {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  z-index: 99;
}
.formFields > i::after {
  background-color: #fff;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 1px;
  border-radius: 50%;
  z-index: -99;
}

.messageError > i, .messageSuccess > i {
  font-size: 22px;
  align-items: center;
  justify-content: center;
}

.messageError input {
  border: 1px solid red !important;
}
.messageError i.fa-exclamation-circle {
  display: flex;
  color: red;
}

.messageSuccess input {
  border: 1px solid green !important;
}
.messageSuccess i.fa-check-circle {
  display: flex;
  color: green;
}

.messageBox p {
  color: #f38d96;
  padding-bottom: 20px;
}

#success p {
  margin-top: 20px;
  background: black;
  padding: 0.5rem;
  border-radius: 7px;
}

.dashboard-outlet {
  width: 90%;
  top: 0;
  transform: translate(-50%, 0%);
  margin: 40px 0;
  padding: 36px 0px;
}
.dashboard-outlet .dashboard-grid {
  display: grid;
  grid-template-columns: 290px 1fr;
  grid-gap: 1rem;
}
.dashboard-outlet .dashboard-grid .dashboard-left-side-outlet, .dashboard-outlet .dashboard-grid .dashboard-right-side-outlet {
  padding: 40px;
  position: relative;
}
.dashboard-outlet .dashboard-grid .dashboard-left-side-outlet {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}
.dashboard-outlet .dashboard-grid .dashboard-left-side-outlet .logo object {
  display: block;
  margin: 0 auto;
}
.dashboard-outlet .dashboard-grid .dashboard-left-side-outlet .net-worth {
  margin-top: 80px;
}
.dashboard-outlet .dashboard-grid .dashboard-left-side-outlet .net-worth p {
  color: #000;
  font-size: 18.913px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}
.dashboard-outlet .dashboard-grid .dashboard-left-side-outlet .net-worth h2 {
  color: #000;
  font-family: Inter;
  font-size: 60.52px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}
.dashboard-outlet .dashboard-grid .dashboard-left-side-outlet .dashboard-menu ul li {
  font-size: 18.913px;
  font-style: normal;
  font-weight: 300;
  line-height: 50px;
}
.dashboard-outlet .dashboard-grid .dashboard-left-side-outlet .dashboard-menu ul li a {
  color: #FFFEFE;
  display: flex;
  align-items: center;
  grid-column-gap: 1rem;
}
.dashboard-outlet .dashboard-grid .dashboard-left-side-outlet::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background: linear-gradient(45deg, transparent, #fff, transparent);
  right: 5px;
}
.dashboard-outlet .dashboard-grid .dashboard-right-side-outlet .dashboard-block {
  display: block;
}
.dashboard-outlet .dashboard-grid .dashboard-right-side-outlet .dashboard-block .user-manage-header {
  display: flex;
  flex-flow: wrap row;
  align-items: center;
  justify-content: space-between;
}
.dashboard-outlet .dashboard-grid .dashboard-right-side-outlet .dashboard-block .user-manage-header .username, .dashboard-outlet .dashboard-grid .dashboard-right-side-outlet .dashboard-block .user-manage-header .user-assets {
  border: 1px solid red;
}
.dashboard-outlet .dashboard-grid .dashboard-right-side-outlet .dashboard-block .user-manage-header .username h4 {
  margin-bottom: 0;
}
.dashboard-outlet .dashboard-grid .dashboard-right-side-outlet .dashboard-block .user-manage-header .user-assets ul {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
.dashboard-outlet .dashboard-grid .dashboard-right-side-outlet .dashboard-block .user-manage-header .user-assets ul li {
  margin-right: 12px;
  font-size: 18.913px;
  font-style: normal;
  font-weight: 300;
}
.dashboard-outlet .dashboard-grid .dashboard-right-side-outlet .dashboard-block .user-manage-header .user-assets ul li a {
  color: #fff;
  display: flex;
  align-items: center;
}
.dashboard-outlet .dashboard-grid .dashboard-right-side-outlet .dashboard-block .user-manage-header .user-assets ul li:last-child {
  margin-right: 0;
}
.dashboard-outlet .dashboard-grid .dashboard-right-side-outlet .dashboard-block .user-manage-header .user-assets ul li:nth-of-type(1) {
  background-color: #000;
}

footer {
  position: relative;
  margin-top: 70px;
  background: green;
}
footer .footerBlock ul li {
  font-size: 20px;
  font-style: normal;
}
footer .footerBlock ul li a {
  color: #ffffff;
  font-weight: 300;
}
footer form > .footerForm {
  border-radius: 5.605px;
  border: 0.467px solid #FFF;
  display: flex;
  align-items: center;
  max-width: 480px;
}
footer form > .footerForm input {
  background: transparent;
  border: none;
  outline: none;
  padding: 16px 30px;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
footer form > .footerForm input:focus {
  border: none;
  outline: none;
}
footer form > .footerForm input::placeholder {
  text-transform: capitalize;
}
footer form > .footerForm button {
  border-radius: 5.605px;
  background: #FFF;
  padding: 8px 30px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.copyright {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-align: right;
}
.copyright span {
  font-weight: 100;
}

/*# sourceMappingURL=styles.css.map */
