@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

*::first-letter {
  text-transform: uppercase;
}

body {
  font-size: 100%;
  color: #000000;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background-color: #000000;
  background-size: cover;
  background-position: top center;
}

a {
  text-decoration: none;
}

h1, h2, h3, p {
  font-family: "Inter", sans-serif;
  color: #fff;
}

h1, h2 {
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 52px;
}
h1 span, h2 span {
  display: block;
}

p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

ul {
  list-style: none;
  padding: 0;
}

nav {
  padding: 5px 0;
  width: 100%;
  z-index: 999;
}
nav .navigation-bar {
  display: grid;
  grid-template-columns: 1fr max-content minmax(150px, auto);
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
  position: relative;
  grid-gap: 1rem;
}
nav .navigation-bar::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
nav .navigation-bar .navLogo img {
  max-width: 100%;
}
nav .navigation-bar ul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  flex: 1;
}
nav .navigation-bar ul li {
  text-transform: capitalize;
  font-weight: 300;
}
nav .navigation-bar ul li a {
  color: #ffffff;
}
nav .navigation-bar ul li a.active {
  color: #fff;
}
nav .navigation-bar ul li:hover a {
  color: #fff;
}
nav .navigation-bar .userLoging li {
  font-weight: 700;
}
nav .navigation-bar .divider {
  width: 1px;
  height: 60%;
  background-color: #fff;
}

.headerBannerContainer {
  padding-top: 175px;
  background: url(../assets/images/header-bg.jpg) no-repeat;
  background-size: cover;
  background-position: top -208px right;
  min-height: 400px;
  position: relative;
}
.headerBannerContainer::after {
  content: "";
  position: absolute;
  mix-blend-mode: overlay;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: lightgray 0% 0%/60.9090924263px 60.9090924263px;
}
.headerBannerContainer .headerBannerContent {
  max-width: 838px;
}
.headerBannerContainer .bannerImg {
  display: block;
  margin-top: 45px;
}
.headerBannerContainer .bannerImg img {
  width: 100%;
  object-fit: cover;
}

main {
  background: url("../assets/images/content-bg.jpg") no-repeat;
  background-position: right top;
  background-size: contain;
  background-position: top -11px center;
  background-size: cover;
}

.automatedContent {
  margin-top: 360px;
}

.trackGlobalContainer, .trackGlobalContainer2 {
  background-position: right top;
  background-size: contain;
  margin-top: 152px;
}
.trackGlobalContainer [class*=col-] > object, .trackGlobalContainer2 [class*=col-] > object {
  visibility: hidden;
}

.trackGlobalContainer2 {
  background-position: left top;
  background-size: contain;
  padding-bottom: 30px;
}

.thousand-thousand {
  margin-top: 152px;
}
@media only screen and (min-width: 1600px) and (max-width: 2550px) {
  .thousand-thousand .automatedContent {
    width: 65%;
  }
}

.bgSetPosRight {
  background-position: right top !important;
}

.buttonContainer {
  background: url(../assets/images/button.svg) no-repeat top left;
  min-height: 68.086px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-top: 52px;
}
.buttonContainer .btnStyle {
  color: #FFF;
  font-family: Inter;
  font-size: 20.91px;
  font-style: normal;
  font-weight: 400;
  min-width: 198px;
  text-align: center;
  padding: 1rem 0;
}
.buttonContainer .btnStyle span {
  margin-right: 16px;
}

footer {
  position: relative;
  margin-top: 70px;
}
footer .footerBlock ul li {
  font-size: 20px;
  font-style: normal;
}
footer .footerBlock ul li a {
  color: #ffffff;
  font-weight: 300;
}
footer form > .footerForm {
  border-radius: 5.605px;
  border: 0.467px solid #FFF;
  display: flex;
  align-items: center;
  max-width: 480px;
}
footer form > .footerForm input {
  background: transparent;
  border: none;
  outline: none;
  padding: 30px;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
footer form > .footerForm input:focus {
  border: none;
  outline: none;
}
footer form > .footerForm input::placeholder {
  text-transform: capitalize;
}
footer form > .footerForm button {
  border-radius: 5.605px;
  background: #FFF;
  padding: 8px 30px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.copyright {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-align: right;
}
.copyright span {
  font-weight: 100;
}

/*# sourceMappingURL=styles.css.map */
