.headerBannerContainer{   
    padding-top: 175px; 
    background: url(../assets/images/header-bg.jpg) no-repeat;    
    background-size: cover;
    background-position: top -208px right;    
    min-height: 400px;
    position: relative;
    &::after{
        @include beforeAfter;
        mix-blend-mode: overlay;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: lightgray 0% 0% / 60.90909242630005px 60.90909242630005px;
    }
    .headerBannerContent{
        max-width: 838px;
        // border: 1px solid red;
        h1{
            // margin-bottom: 52px;
        }
    }
    .bannerImg{
        display: block;
        margin-top: 45px;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
}