.buttonContainer{
    background: url(../assets/images/button.svg) no-repeat top left;
    min-height: 68.086px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-top: 52px;
    .btnStyle{
        color: #FFF;
        font-family: Inter;
        font-size: 20.91px;
        font-style: normal;
        font-weight: 400;
        min-width: 198px;
        text-align: center;
        padding: 1rem 0;
        span{
            margin-right: 16px;
        }
    }
}
.add-assets-btn, .manage-btn{
    display: inline-flex;
    padding: 18.913px 23.641px 20.804px 37.825px;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 7.802px;
    color: #FFF;
    font-size: 18.913px;
    font-style: normal;
    font-weight: 300;
    border-radius: 7.565px;
}
.add-assets-btn{
    background: #000;
}
.manage-btn{
    border-radius: 7.565px;
    border: 0.946px solid #000; 
    color: #000000 !important;
}