main{
    
    background: url('../assets/images/content-bg.jpg') no-repeat;    
    background-position: right top;
    background-size: contain;
    background-position: top -11px center;
    background-size: cover;
}
.automatedContainer{
    // margin-top: 187px;
}
.automatedContent{
    margin-top: 360px;
}
.trackGlobalContainer, .trackGlobalContainer2{
    // background: url('../assets/images/Rectangle.svg') no-repeat;    
    background-position: right top;
    background-size: contain;
    margin-top: 50px;

    [class*='col-']>object{
        visibility: hidden;
    }
    @include min_max(991px, 1523px){
        margin-top: 0;
    }
}
.trackGlobalContainer2{
    // background: url('../assets/images/circle.svg') no-repeat;     
    background-position: left top;
    background-size: contain;
    padding-bottom: 30px;
    -webkit-padding-after: 190px;
}
.thousand-thousand{
    margin-top: 152px;
    .automatedContent{
        @include min_max(992px, 2550px){
            width: 65%;
        }
    }
}

.bgSetPosRight{        
    background-position: right top !important;
}