@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Roboto:wght@300;400;500;700&display=swap');

*{margin: 0; padding: 0;}
*::first-letter{
    text-transform: uppercase;
}
body{
    font-size: 100%;
    color: $black;
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font-Inter;
    background-color: $black;
}
a{
    text-decoration: none;
}
h1, h2, h3, p{
    font-family: $font-Inter;
    color: #fff;
}
h1{    
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    span{
        display: block;
    }
}
p{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;}
ul{
    list-style: none;
    padding: 0;
}