// color scheme
$black: #000000;
$white: #ffffff;
$color3: #fff;

// font-family: 'Inter', sans-serif;
// font-family: 'Roboto', sans-serif;
$font-Inter: 'Inter', sans-serif;
$font-Roboto: 'Roboto', sans-serif;